{% extends "blog/base.html" %}
{% block title %}My Blog{% endblock %}
{% block content %}
    <h1>Статьи</h1>

    {% for post in post_list %}
        <div class="card-body">
            <a class="card-title" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            <div><img src="{{ post.image.url }}" alt="{{ post.image.name }}"></div>
            <p class="tags">Теги: {{ post.tags.all|join:", " }}</p>
            <p class="card-text">Автор: {{ post.author }}. Дата публикации {{ post.publish }}</p>
        </div>

    {% endfor %}
    <nav id="paginator">
        <ul>
            {% if page_obj.has_previous %}
                <li>
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% endif %}

            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
                <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
                <li><a href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}