{% extends "blog/base.html" %}
{% block title %}{{ object.title }}{% endblock %}
{% block content %}
    <h1>{{ post.title }}</h1>
    <p class="date">
        Published {{ post.body|safe }} by {{ post.author }}
    </p>
    <span class='lead'>{{ post.lead }} </span>
    <div class='body'>{{ post.body|safe }} </div>

    <ul class='latest'>
        {% for post in latest %}
            <li>{{ post.pk }}. {{ post.title }}</li>{% endfor %}
    </ul>



    <h1>Комментарии</h1>
    {% for comment in comment_list %}
        <div>
            <p>{{ comment.text }}</p>
        </div>
    {% endfor %}








{% endblock %}
